.Header {
  border-bottom: 1px solid #eee;
  box-shadow: 0 0 10px -5px #999;
  height: 62px; }
  @media (min-width: 768px) {
    .Header {
      height: 65px; } }

.Header-logo {
  color: #222;
  font-size: 14px; }
  @media (min-width: 768px) {
    .Header-logo {
      font-size: 18px; } }

.Header-navList {
  float: left;
  margin: 0; }

.Header-navItem {
  display: inline-block;
  margin: 0 20px 0 0; }
  .Header-navItem:last-child {
    margin-right: 0; }
  .Header-navItem a {
    line-height: 62px;
    text-decoration: none; }

.Header-navLink {
  color: #222;
  display: block;
  font-size: 12px;
  text-decoration: none; }
  @media (min-width: 768px) {
    .Header-navLink {
      font-size: 14px;
      letter-spacing: 2px; } }

.Header-login {
  float: right;
  line-height: 48px;
  margin-bottom: 0; }
  @media (min-width: 768px) {
    .Header-login {
      line-height: 64px; } }

.Header-avatar {
  border-radius: 24px;
  vertical-align: middle; }

.Cover {
  margin: 40px 0; }
  @media (min-width: 1024px) {
    .Cover {
      margin-top: 110px; } }

.Cover-title {
  text-align: center; }

.Cover-titleAction {
  display: block; }

.Cover-titleLongestDuration {
  display: block;
  font-size: 16px; }

.Cover-titleInputAction[type="text"] {
  border-color: #f1f1f1;
  height: 64px;
  text-align: center;
  width: 100%; }

.Cover-description {
  margin-bottom: 4rem;
  text-align: center; }
  .Cover-description p {
    margin-bottom: 0.5rem; }

.Cover-disclaimer {
  color: #999;
  font-size: 1rem;
  text-align: center; }

.Cover-buttons {
  margin: 0 auto;
  text-align: center; }
  .Cover-buttons .button {
    width: 100%; }
    @media (min-width: 768px) {
      .Cover-buttons .button {
        width: auto; } }

.TasksDone-days, .TasksDone-dates, .TasksDone-buttons {
  text-align: center; }

.TasksDone tr:nth-child(2n) {
  background: #f9f9f9; }

.TasksDone-label {
  width: 30%; }
  @media (min-width: 768px) {
    .TasksDone-label {
      width: 60%; } }

.TasksDone-dates {
  display: none; }
  @media (min-width: 1024px) {
    .TasksDone-dates {
      display: block; } }

.TasksDone-delete {
  background: #d9534f;
  border: 1px solid #d43f3a;
  color: white;
  padding: 0 12px; }
  .TasksDone-delete:hover {
    background: #c9302c;
    border-color: #d43f3a;
    color: white; }
  .TasksDone-delete .button-label {
    display: none; }
    @media (min-width: 1024px) {
      .TasksDone-delete .button-label {
        display: inline; } }

.TasksDone-empty td {
  border-bottom: none;
  color: #999;
  font-style: italic;
  text-align: center; }

.Messages {
  list-style: none;
  margin: 10px 0; }

.Messages-item {
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 0;
  padding: 10px; }

.Messages-item--success {
  background-color: #dff0d8;
  border-color: #b2dba1;
  color: #3c763d; }