{% extends "base.html" %}

{% block content %}
    <div class="cover">
        <h1 class="cover-title">I been
            <span class="cover-title-days">0 day(s)</span>
            <span class="cover-title-action">Without sleep</span></h1>

        <div class="cover-buttons">
            {% if task_started|length %}
                <a href="#" class="button button-primary">Reset</a>
                <a href="#" class="button">Done</a>
            {% else %}
                <a href="#" class="button button-primary">Start</a>
            {% endif %}
        </div>
    </div>
    <!-- /.cover -->

    <div class="tasks-done">
        <table class="tasks-done-table u-full-width">
            <tbody>
                <tr>
                    <td class="tasks-done-label">Without sleep</td>
                    <td>1 day(s)</td>
                    <td>Feb, 09 2015 - Feb, 10 2015</td>
                </tr>
                <tr>
                    <td class="tasks-done-label">Without sleep</td>
                    <td>1 day(s)</td>
                    <td>Feb, 09 2015 - Feb, 10 2015</td>
                </tr>
                <tr>
                    <td class="tasks-done-label">Without sleep</td>
                    <td>1 day(s)</td>
                    <td>Feb, 09 2015 - Feb, 10 2015</td>
                </tr>
                <tr>
                    <td class="tasks-done-label">Without sleep</td>
                    <td>1 day(s)</td>
                    <td>Feb, 09 2015 - Feb, 10 2015</td>
                </tr>
                <tr>
                    <td class="tasks-done-label">Without sleep</td>
                    <td>1 day(s)</td>
                    <td>Feb, 09 2015 - Feb, 10 2015</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.tasks-done -->
{% endblock content %}
