{% extends "base.html" %}

{% block content %}
    <div class="cover">
        <h1 class="cover-title">I been
            <span class="cover-title-days">0 day(s)</span>
            <span class="cover-title-action">Without sleep</span></h1>

        <div class="cover-buttons">
            {% if task_started|length %}
                <a href="#" class="button button-primary">Reset</a>
                <a href="#" class="button">Done</a>
            {% else %}
                <a href="#" class="button button-primary">Start</a>
            {% endif %}
        </div>
    </div>
    <!-- /.cover -->

    <div class="tasks-done">
        <table class="tasks-done-table u-full-width">
            <tbody>
            {% for task in task_list %}
                <tr class="tasks-done-task">
                    <td class="tasks-done-label">{{ task.title }}</td>
                    <td class="tasks-done-days">{{ task.duration }} day(s)</td>
                    <td class="tasks-done-dates">{{ task.started_at|date:"M, d Y" }} - {{ task.finished_at|date:"M, d Y" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.tasks-done -->
{% endblock content %}
