.Header {
  border-bottom: 1px solid #eee;
  box-shadow: 0 0 10px -5px #999;
  height: 62px;

  @include tablet-and-desktop {
    height: 65px;
  }
}

.Header-logo {
	color: #222;
  font-size: 16px;

  @include tablet-and-desktop {
	  font-size: 18px;
  }
}

.Header-navList {
  float: left;
  margin: 0;
}

.Header-navItem {
  display: inline-block;
  margin: 0 20px 0 0;

  &:last-child {
    margin-right: 0;
  }

  a {
    line-height: 62px;
    text-decoration: none;
  }
}

.Header-navLink {
  color: #222;
  display: block;
  font-size: 12px;
  text-decoration: none;

  @include tablet-and-desktop {
    font-size: 14px;
    letter-spacing: 2px;
  }
}

.Header-login {
  float: right;
  line-height: 48px;
  margin-bottom: 0;

  @include tablet-and-desktop {
    line-height: 64px;
  }
}

.Header-avatar {
  border-radius: 24px;
  vertical-align: middle;
}
