.TasksDone-days,
.TasksDone-dates {
  text-align: center;
}

.TasksDone {
  tr:nth-child(2n) {
    background: #f9f9f9;
  }
}

.TasksDone-label {
  width: 30%;

  @include tablet {
    width: 60%;
  }
  @include desktop {
    width: 60%;
  }
}

.TasksDone-empty {
  td {
    border-bottom: none;
    color: #999;
    font-style: italic;
    text-align: center;
  }
}
