.TasksDone-days,
.TasksDone-dates,
.TasksDone-buttons {
  text-align: center;
}

.TasksDone {
  tr:nth-child(2n) {
    background: #f9f9f9;
  }
}

.TasksDone-label {
  width: 30%;

  @include tablet-and-desktop {
    width: 60%;
  }
}

.TasksDone-dates {
  display: none;

  @include desktop {
    display: block;
  }
}

.TasksDone-delete {
  background: #d9534f;
  border: 1px solid #d43f3a;
  color: white;
  padding: 0 12px;

  &:hover {
      background: darken(#d9534f, 10%);
      border-color: #d43f3a;
      color: white;
  }

  .button-label {
    display: none;

    @include desktop {
        display: inline;
    }
  }
}

.TasksDone-empty {
  td {
    border-bottom: none;
    color: #999;
    font-style: italic;
    text-align: center;
  }
}
