{% load core_extras %}

<div class="Header">
	<div class="container">
		<div class="row">
			<nav class="Header-navBar">
				<ul class="Header-navList">
                    <li class="Header-navItem">
                        <a
                            href="{% url "home" %}"
                            class="Header-logo">IBeenDays</a>
                    </li>
                    <li class="Header-navItem">
                        <a
                            href="{% url "home" %}"
                            class="Header-navLink">Home</a>
                    </li>
				</ul>

                <ul class="Header-login">
					{% if user.is_authenticated %}
                        <li class="Header-navItem">
                            <a
                                href="{% url "logout" %}"
                                class="Header-navLink">Logout</a>
                        </li>
                        <li class="Header-navItem">
                            <img src="{% gravatar_from_email user.email %}"
                                class="Header-avatar" width="42" height="42">
                        </li>
					{% else %}
                        <li class="Header-navItem">
                            <a
                                href="{% url "login" %}"
                                class="Header-navLink">Log in / Sign up</a>
                        </li>
					{% endif %}
				</ul>
			</nav>
            <!-- /.Header-navBar -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</div>
<!-- /.Header -->
