.cover {
  margin: 40px 0;

  @include desktop {
    margin-top: 110px;
  }
}

.cover-title {
  text-align: center;
}

.cover-title-action {
  display: block;
}

.cover-title-longest-duration {
  font-size: 16px;
}

.cover-title-input-action[type="text"] {
  border-color: #f1f1f1;
  height: 64px;
  text-align: center;
  width: 100%;
}

.cover-description {
  margin-bottom: 4rem;
  text-align: center;

  p {
    margin-bottom: 0.5rem;
  }
}

.cover-disclaimer {
  color: #999;
  font-size: 1rem;
  text-align: center;
}

.cover-buttons {
  margin: 0 auto;
  text-align: center;

  .button {
    width: 100%;

    @include tablet-and-desktop {
      width: auto;
    }
  }
}
