.tasks-done-table tr:nth-child(2n) {
  background: #f9f9f9;
}

.tasks-done-label {
  width: 30%;

  @include tablet {
    width: 60%;
  }
  @include desktop {
    width: 70%;
  }
}

.tasks-done-empty {
  td {
    border-bottom: none;
    color: #999;
    font-style: italic;
    text-align: center;
  }
}
