{% extends "base.html" %}

{% block content %}
    {% include "includes/messages.html" %}

    <div class="Cover">
        <form action="{% url 'task-create' %}" method="POST">
            {% csrf_token %}

            {% with task_started|length as has_task %}
                <h1 class="Cover-title">I have been
                    {% if has_task %}
                        <span class="Cover-titleAction">{{ task_started.0.title }}</span>
                        <span class="Cover-titleDays">for
                            <span
                                id="timer"
                                data-starting-time="{{ task_started.0.started_at|date:"Y-m-d\TH:i:s\Z" }}">
                                {{ task_started.0.duration }} day(s)
                            </span>
                        </span>
                        {% if task_started.0.longest_duration > 0 %}
                            <span class="Cover-titleLongestDuration">(Your record is {{ task_started.0.longest_duration }} day(s))</span>
                        {% endif %}
                    {% else %}
                        {{ task_form.title }}
                        <span class="Cover-titleDays">for 0 day(s)</span>
                    {% endif %}
                </h1>

                <div class="Cover-buttons">
                    {% if has_task %}
                        <a href="{% url 'task-reset' uuid=task_started.0.uuid %}" class="button button-primary">Reset</a>
                        <a href="{% url 'task-done' uuid=task_started.0.uuid %}" class="button">Done</a>
                    {% else %}
                        <input type="submit" class="button button-primary" value="Start">
                    {% endif %}
                </div>
            {% endwith %}
        </form>
    </div>
    <!-- /.cover -->

    <table class="TasksDone u-full-width">
        <tbody>
        {% for task in task_list %}
            <tr class="TasksDone-task">
                <td class="TasksDone-label">{{ task.title }}</td>
                <td class="TasksDone-days">{{ task.last_longer_duration }} day(s)</td>
                <td class="TasksDone-dates">{{ task.started_at|date:"M, d Y" }} - {{ task.finished_at|date:"M, d Y" }}</td>
                <td class="TasksDone-buttons">
                    <a
                        href="{% url 'task-delete' uuid=task.uuid %}"
                        title="Do you want to remove this task?"
                        class="TasksDone-delete button">
                            <i class="fa fa-trash-o fa-lg"></i>
                            <span class="button-label">Remove</span>
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr class="TasksDone-empty">
                <td>You don't have any finished task.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- /.tasks-done -->
{% endblock content %}
