{% extends "base.html" %}

{% block content %}
    {% include "includes/messages.html" %}

    <div class="Cover">
        <h1 class="Cover-title">
            Do you want to reset the task <span class="Cover-titleAction">"{{ form.instance.title }}"?</span>
        </h1>

        <form action="{% url 'task-reset' uuid=form.instance.uuid %}" method="POST">
            {% csrf_token %}

            {{ form.description }}

            <div class="Cover-buttons">
                <input type="submit" value="Confirm" class="button button-primary">
                <a href="{% url 'tasks' %}" class="button">Cancel</a>
            </div>
        </form>
    </div>
    <!-- /.cover -->
{% endblock content %}
