.header {
  border-bottom: 1px solid #eee;
  box-shadow: 0 0 10px -5px #999;
  height: 62px; }
  @media (min-width: 768px) {
    .header {
      height: 65px; } }

.navbar-list {
  float: left;
  margin: 0; }

.navbar-item {
  display: inline-block;
  margin: 0 20px 0 0; }
  .navbar-item:last-child {
    margin-right: 0; }
  .navbar-item a {
    line-height: 62px;
    text-decoration: none; }

.navbar-item-link {
  color: #222;
  display: block;
  font-size: 12px;
  text-decoration: none; }
  @media (min-width: 768px) {
    .navbar-item-link {
      font-size: 14px;
      letter-spacing: 2px; } }

.navbar-logo {
  color: #222;
  font-size: 16px; }
  @media (min-width: 768px) {
    .navbar-logo {
      font-size: 18px; } }

.navbar-login {
  float: right;
  line-height: 48px;
  margin-bottom: 0; }
  @media (min-width: 768px) {
    .navbar-login {
      line-height: 64px; } }

.navbar-avatar {
  border-radius: 24px;
  vertical-align: middle; }

.cover {
  margin: 40px 0; }
  @media (min-width: 1024px) {
    .cover {
      margin-top: 110px; } }

.cover-title {
  text-align: center; }

.cover-title-action {
  display: block; }

.cover-title-longest-duration {
  font-size: 16px; }

.cover-title-input-action[type="text"] {
  border-color: #f1f1f1;
  height: 64px;
  text-align: center;
  width: 100%; }

.cover-description {
  margin-bottom: 4rem;
  text-align: center; }
  .cover-description p {
    margin-bottom: 0.5rem; }

.cover-disclaimer {
  color: #999;
  font-size: 1rem;
  text-align: center; }

.cover-buttons {
  margin: 0 auto;
  text-align: center; }
  .cover-buttons .button {
    width: 100%; }
    @media (min-width: 768px) {
      .cover-buttons .button {
        width: auto; } }

.tasks-done-table tr:nth-child(2n) {
  background: #f9f9f9; }

.tasks-done-days, .tasks-done-dates {
  text-align: center; }

.tasks-done-label {
  width: 30%; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .tasks-done-label {
      width: 60%; } }
  @media (min-width: 1024px) {
    .tasks-done-label {
      width: 60%; } }

.tasks-done-empty td {
  border-bottom: none;
  color: #999;
  font-style: italic;
  text-align: center; }