{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>I been {action} for {x} days</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/skeleton.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">

    <link rel="icon" type="image/png" href="{% static "images/favicon.png" %}">
</head>
<body>
    <div class="container">
		
		<div class="row">
			<nav>
				<ul>
					<li><a href="#">Ibeendays</a></li>
					<li><a href="#">Home</a></li>
				</ul>

				<div>
					{% if user.is_authenticated %}
						<a href="#"><img src="https://www.gravatar.com/avatar/6dc6a443c28aeb0b3845c50cda739269?s=48&d=mm"></a>
					{% else %}
						<a href="/login/">Sign in / Sign up</a>
					{% endif %}
				</div>
			</nav>
		</div>
		<!-- /.row -->

        {% block content %}{% endblock %}
    </div>
    <!-- /.container -->
</body>
</html>
