{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>I have been {doing something really cool} for {x} days</title>

    <meta name="description" content="IHaveBeenDays is a web app made with Django that helps you tracking how many days you have doing (or not doing) something.">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/styles.min.css" %}">

    <link rel="icon" type="image/png" href="{% static "images/favicon.png" %}">
</head>
<body>
	{% include "includes/header.html" %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <!-- /.container -->

    {% if debug %}
        <script src="//localhost:35729/livereload.js"></script>
    {% endif %}
</body>
</html>
