{% extends "base.html" %}
{% load core_extras %}

{% block content %}
	<div class="Cover">
		<h1 class="Cover-title">Let laziness behind!</h1>

		<div class="Cover-description">
			<p><em>IHaveBeenDays</em> will help you to break bad habits,
                and create good habits instead!</p>
			<p>How? Helping you to measure how much time you spent
                doing (or not doing) specific thing.</p>
        </div>

        <div class="Cover-buttons">
            <a href="{% url 'login' %}" class="button button-primary">Get started</a>
        </div>

        <div class="Cover-disclaimer">
            <p>Don't believe me? I'm {% example_days_duration %} days writing things in English
                to practice the language :)</p>
        </div>
	</div>
    <!-- /.Cover -->
{% endblock content %}
